<h1>login page</h1>

<form action="login" method="post">
    <p>username</p>
    <input type="text" name="username"></input>
    <p>password</p>
    <input type="text" name="password"></input>
    <p><input type="submit"></input></p>
</form>